.powenv
script/coverage
/reports
/coverage
vendor/plugins/attachment_fu/.gitignore
log/*
tmp/*
api/tmp/
tmp/**/*
*.pub
*.pem
!amazon-rds-ca-cert.pem
!rds-ca-*.pem
*.DS_Store
public/images/tuneup/*
public/javascripts/tuneup/*
public/stylesheets/tuneup/*
hologram_doc/docs
*~
*#
.#*
public/plugin_assets/**/*
config/locales/log/*
db/sphinx/*/*
db/data
config/*.sphinx.conf
lang/ui/backup2/*
id_bp_keypair
/public/javascripts/spaceded.js
#/public/assets
/config/production.sphinx.conf
/log/searchd.development.pid
.bundle
.idea
.rspec
.rspec-local
*.sqlite3
*.orig
*_banner.png
.tddium*
.listen_test
.powenv
.db_clean
sql/
*.tm_properties
/**/bak/*
public/stylesheets/sass/.sass-cache
Guardfile
Procfile.dev
local.yml
zeus.json
*.map
vendor/assets/components
.sass-cache/
.solano*
tags
.lang_map.txt
.env
urbanairship.log
